{{>header}}
<table class="table">
    <thead>
    <tr>
        <th>Tag</th>
        <th>Word List</th>
        <th>Rule Set</th>
        <th>Clients</th>
        <th>Turn</th>
        <th>Counts</th>
    </tr>
    </thead>
    <tbody>
    {{#each rooms}}
        <tr>
            <td><a href=/admin/room/{{tag}}>{{tag}}</a></td>
            <td>{{capitalize _options.wordList}}</td>
            <td>{{capitalize _options.ruleSet}}</td>
            <td>{{_sockets.length}}</td>
            <td>{{capitalize _game.state.turn}}</td>
            <td>
                <strong class="is-red">{{_game.state.spyCounts.red}}</strong> |
                <strong class="is-blue">{{_game.state.spyCounts.blue}}</strong>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{>footer}}
