.BoardWrapper {
  flex: 1;
}

.Board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.BoardRow {
  display: flex;
  flex-direction: row;
  height: 20%;
}
