.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  background-color: #eee;
  font-size: 1.75rem;
  margin: 1px;
  user-select: none;
}

.Card--revealed {
  text-decoration: line-through;
  opacity: 0.2;
}

.Card--controller[data-role="blue"] {
  background-color: #bbdefb;
}

.Card--controller[data-role="red"] {
  background-color: #ef9a9a;
}

.Card--controller[data-role="bystander"] {
  background-color: #ff9100;
}

.Card--controller[data-role="assassin"] {
  background-color: #999;
}

.Card[data-role="blue"].Card--revealed {
  background-color: #2196f3;
  color: #bbdefb;
}

.Card[data-role="red"].Card--revealed {
  background-color: #d32f2f;
  color: #ef9a9a;
}

.Card[data-role="bystander"].Card--revealed {
  background-color: #ff9100;
}

.Card[data-role="assassin"].Card--revealed {
  background-color: #222;
}

.Card--highlighted {
  border: 5px solid #000;
}

@media only screen and (max-width : 1024px) {
    .Card {
        font-size: 1.2rem;
    }
}
