.GameInfo {
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: space-between;
}

.GameInfo--red {
  background-color: #ef9a9a;
}

.GameInfo--blue {
  background-color: #bbdefb;
}

.GameInfo__turn {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.GameInfo__turn span {
  display: block;
    margin: 0 10px;
    font-size: 48px;
    line-height: 46px;
    margin-top: -10px;
}

.GameInfo--red .GameInfo__turn {
  justify-content: flex-end;
}

.GameInfo--blue .GameInfo__turn {
  justify-content: flex-start;
}

.GameInfo__turn.GameInfo__turn--winner {
  justify-content: center;
}

.GameInfo__count {
  flex: 0 1;
  display: flex;
  flex-direction: row;
}

.GameInfo__counter {
  height: 48px;
  width: 48px;
}

.GameInfo__count--blue .GameInfo__counter {
  background-color: #2196f3;
}

.GameInfo__count--red .GameInfo__counter {
  background-color: #d32f2f;
}
