@import 'node_modules/sass-material-colors/sass/_sass-material-colors';

$dark-number: '500';
$light-number: '200';

$blue-spy--light: material-color('blue', $light-number);
$blue-spy--dark: material-color('blue', $dark-number);

$red-spy--light: material-color('red', $light-number);
$red-spy--dark: material-color('red', $dark-number);

$bystander--light: material-color('orange', $light-number);
$bystander--dark: material-color('orange', $dark-number);

$assassin--light: material-color('grey', $light-number);
$assassin--dark: material-color('grey', $dark-number);

$roles: blue_spy red_spy bystander assassin;

$dark-colors: (
  'blue_spy': $blue-spy--dark,
  'red_spy': $red-spy--dark,
  'bystander': $bystander--dark,
  'assassin': $assassin--dark
);

$light-colors: (
  'blue_spy': $blue-spy--light,
  'red_spy': $red-spy--light,
  'bystander': $bystander--light,
  'assassin': $assassin--light
);
