$blue-spy--light: #bbdefb;
$blue-spy--dark: #2196f3;

$red-spy--light: #ef9a9a;
$red-spy--dark: #d32f2f;

$bystander--light: #ff9100;
$bystander--dark: #ff9100;

$assassin--light: #999;
$assassin--dark: #222;
