/**

COLOR SPECIFICATIONS

Picked from: https://www.materialpalette.com/colors

red = #ef9a9a
blue = #bbdefb
civilian = #ff9100
assassin = #222

light-red = #ef9a9a
light-blue = #bbdefb

 */


html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {

}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board__wrapper {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 60px;
    bottom: 10px;
}

.board {
    width: 100%;
    height: 100%;
    display: table;
}

.board__row {
    display: table-row;
}

.board__cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    padding: 5px;
}

.board__card {
    background-color: #eee;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    box-shadow: 0 10px 6px -6px #777;
    position: relative;
}

/** Stolen from https://paulund.co.uk/learn-css-box-shadow **/
.board__card:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    right: 10px;
    left: auto;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
}

.board--controller [data-role="blue"] .board__card {
    border: 5px solid #2196f3;
}

.board--controller [data-role="red"] .board__card {
    border: 5px solid #d32f2f;
}

.board--controller [data-role="civilian"] .board__card {
    border: 5px solid #ff9100;
}

.board--controller [data-role="assassin"] .board__card {
    border: 5px solid  #222;
}

.revealed {
    text-decoration: line-through;
    opacity: 0.3;
}

.revealed[data-role="blue"] .board__card {
    background-color: #2196f3;
}

.revealed[data-role="red"] .board__card {
    background-color: #d32f2f;
}

.revealed[data-role="civilian"] .board__card {
    background-color: #ff9100;
}

.revealed[data-role="assassin"] .board__card {
    background-color: #222;
}

.highlighted .board__card {
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

.game-message {
    position: fixed;
    top: 30%;
    bottom: 30%;
    z-index: 1000;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #43a047;
    color: #fff;
    font-size: 3rem;
}

.game-state {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #ddd;
}

.game-state--blue {
    background-color: #bbdefb;
}

.game-state--red {
    background-color: #ef9a9a;
}

.game-state--turn {
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
}

.spy-counter {
    list-style: none;
    margin: 5px;
    padding: 0;
}

.spy-counter li {
    display: inline-block;
    margin: 0 0.25rem;
    font-size: 1.8rem;
}

.spy-counter--blue {
    color: #2196f3;
    float: left;
}

.spy-counter--red {
    color: #d32f2f;
    float: right;
}

.welcome {
    width: 50%;
    margin: 0 auto;
    background-color: #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
