/**

COLOR SPECIFICATIONS

Picked from: https://www.materialpalette.com/colors

red = #ef9a9a
blue = #bbdefb
bystander = #ff9100
assassin = #222

light-red = #ef9a9a
light-blue = #bbdefb

 */


html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {

}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board__wrapper {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 85px;
    bottom: 10px;
}

.board__wrapper--controller {
    bottom: 85px;
}

.board {
    width: 100%;
    height: 100%;
    display: table;
}

.board__row {
    display: table-row;
}

.board__cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    padding: 10px;
}

.board__card {
    background-color: #eee;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width : 1024px) {
    .board__card {
        font-size: 1.2rem;
    }
}

.board--controller [data-role="blue"] .board__card {
    border: 10px solid #2196f3;
}

.board--controller [data-role="red"] .board__card {
    border: 10px solid #d32f2f;
}

.board--controller [data-role="bystander"] .board__card {
    border: 10px solid #ff9100;
}

.board--controller [data-role="assassin"] .board__card {
    border: 10px solid  #222;
}

.revealed {
    text-decoration: line-through;
    opacity: 0.3;
}

.revealed[data-role="blue"] .board__card {
    background-color: #2196f3;
}

.revealed[data-role="red"] .board__card {
    background-color: #d32f2f;
}

.revealed[data-role="bystander"] .board__card {
    background-color: #ff9100;
}

.revealed[data-role="assassin"] .board__card {
    background-color: #222;
}

.highlighted .board__card {
    background-color: #999;
    color: #fff;
}

.game-message {
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #43a047;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    padding: 2rem 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width : 1024px) {
    .game-message {
        font-size: 2rem;
        padding: 1rem 0.5rem;
    }
}

.game-controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 75px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.game-controls button {
    font-size: 110%;
}

.game-state {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.game-state--blue {
    background-color: #bbdefb;
}

.game-state--red {
    background-color: #ef9a9a;
}

.game-state--turn {
    font-size: 1.7rem;
    /*width: 100%;*/
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    flex-grow: 1;
}

.spy-counter {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    text-align: left;
}

.spy-counter li {
    display: inline-block;
    margin: 0 0.25rem;
    font-size: 2.5rem;
}

@media only screen and (max-width : 1024px) {
    .spy-counter {
        margin: 0 10px;
    }

    .spy-counter li {
        margin: 0 0.1rem;
        font-size: 2rem;
    }
}

.spy-counter--blue {
    color: #2196f3;
    float: left;
}

.spy-counter--red {
    color: #d32f2f;
    float: right;
}

.setup-box {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: #ddd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.game-end {
    width: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-end h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.game-end--red {
    background-color: #ef9a9a;
}

.game-end--blue {
    background-color: #bbdefb;
}

.game-end__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    background: rgba(20, 20, 20, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
