.GameControls {
  background-color: #ddd;
  height: 64px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
}

.GameControls .button {
  border-radius: 0;
}

.GameControls_end-turn {
  height: 100%;
  flex: 2 1;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
}

.GameControls_end-turn:hover {
  /* background-color: #888; */
}

.GameControls_new-game {
  height: 100%;
  flex: 1 1;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
}

.GameControls_menu {
  height: 100%;
  flex: 0 0;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 900;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .GameControls_end-turn {
    font-size: 16px;
  }
  .GameControls_new-game {
    font-size: 16px;
  }
}
