@import '../../sass/_variables';

.game__message.modal .modal-content {
  width: 100%;
}

.game__message--BLUE .hero {
  background-color: $blue-spy--dark;
}

.game__message--RED .hero {
  background-color: $red-spy--dark;
}
